/* ===========================
   全体レイアウト（ダークモード）
   =========================== */
:root {
  --bg-1: hsl(0 0 0);
  --bg-2: hsl(0 0 12);
  --bg-3: hsl(0 0 22);
  --bg-4: hsl(0 0 30);

  --font-1: hsl(0 0 90);
  --font-2: hsl(0 0 66);
  --font-3: hsl(0 0 39);

  --accent-1: hsl(227 95 62);
  --accent-2: hsl(227 94 50);

  --radius: 8px;

  /*transform: scale(0.95);  transition: 0.2s ease;*/
  --press-scale: 0.95;
  --press-transition: 0.2s ease;

  --font-base: clamp(16px, 1.2vw, 20px);
  --font-small: clamp(14px, 1vw, 16px);

  --font-H2: clamp(20px, 3vw, 24px);

  --font-timer: clamp(50px, 3vw, 70px);

  --timer-size: clamp(220px, 50vw, 320px);

  --btn-size: clamp(35px, 8vw, 60px);

  --spacing: clamp(16px, 4vw, 24px);
}

/* ====================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-1);
  color: var(--font-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: var(--font-base);
  height: 100%;
}

/* ====================================================== */
header {
  /* width: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--spacing); */
  margin: var(--spacing);
}

.header-left {
  /* display: flex; */
  margin-right: auto;
  /* margin-left: var(--spacing); */

  min-width: var(--btn-size);
}

.header-mid {
  /* display: flex; */
  font-size: var(--font-H2);
  text-align: center;
}

.header-right {
  /* display: flex; */
  margin-left: auto;
  /* margin-right: var(--spacing); */

  min-width: var(--btn-size);
}

/* ====================================================== */
body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  gap: var(--spacing);
  padding: var(--spacing);
}

button {
  border: none;
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-1);
  color: var(--font-1);

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: var(--bg-3);
}

button:active {
  transform: var(--press-scale);
  transition: var(--press-transition);
}

/* ====================================================== */
a.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  border: none;
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-1);
  color: var(--font-1);
}

a.btn-circle:hover {
  background: var(--bg-3);
}

a.btn-circle:active {
  transform: var(--press-scale);
  transition: var(--press-transition);
}

span.material-symbols-outlined {
  flex: block;
}

/* ====================================================== */
div.form-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing) 0;
}

button.submit-btn {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(120px, 3vw, 200px);
  height: clamp(60px, 3vw, 100px);
  border-radius: var(--radius);
  font-size: var(--font-base);
  background-color: var(--bg-2);
}

button.submit-btn:hover {
  background-color: var(--bg-3);
}

/* ====================================================== */
.main-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* ====================================================== */
.timer-wrapper {
  flex-shrink: 0;
  width: var(--timer-size);
  height: var(--timer-size);
  aspect-ratio: 1;
}

.timer-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  display: block;
  z-index: 1;
}

.progress-circle {
  stroke: var(--accent-1);
  transition: stroke-dashoffset 0.15s linear;
}

/* ====================================================== */
.timer-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: clamp(4px, 1vw, 8px);
  pointer-events: none;

  z-index: 2;
}

.timer-container {
  font-size: var(--font-timer);
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}


.session-status {
  color: var(--font-2);
  margin: 0 var(--spacing);
}

/* ====================================================== */
.button-layer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: var(--spacing);

  height: var(--btn-size);
  width: 100%;

  gap: var(--btn-size);
}

.refresh-btn {
  order: 1;
  background-color: var(--bg-2);
}

button.refresh-btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

button.refresh-btn[disabled] .material-symbols-outlined {
  color: var(--font-3);
}

.control-btn {
  order: 2;
  background-color: var(--accent-1);

}

button.control-btn:hover {
  background: var(--accent-2);
}

/* ====================================================== */
.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-count {
  display: block;

  margin-top: var(--spacing);
  text-align: center;
  font-size: var(--font-base);
  color: var(--font-2);
}

/* ====================================================== */
.blink {
  animation: blinkAnime 1s infinite alternate;
}

@keyframes blinkAnime {
  0% {
    color: var(--font-1);
  }

  100% {
    color: var(--bg-1);
  }
}